* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: FFFFFF;
}
/* ------------------------------------- */
header {
  height: 35px;
  width: 100%;
  background-color: black;
}

header img {
  height: 50px;
  margin-bottom: 1px;
  margin-top: -8px;
  margin-left: 55px;
  float: left;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  margin-top: 10px;
  margin-right: 50px;
}
nav ul li {
  display: inline-block;
  margin-left: 40px;
}
nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
}
/* ------------------------------------- */

.movie {
  background-color: #f2f2f7;
  width: 100%;
  height: 360px;
}
.youtube {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 15px;
  }

/* ------------------------------------- */
.container-text {
  width: 100%;
  height: 360px;
  background-color: ;
}

.text {
  padding: 70px 100px;
  background-color: white;
  text-align: center;
}
.text h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.text p {
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  }
/* ------------------------------------- */
.articles {
  width: 100%;
  background-color: #f2f2f7;
  padding: 30px 0px;
  display: inline-block;
  vertical-align: left;
}

.articles article {
  width: 23%;
  background-color: red;
}

.imgart img {
  width: 100%;
  height: 100%;
}

.articles article h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px;
  font-weight: 600px;
}

.articles article p {
  text-align: center;
  padding: 0px 15px 15px 15px;
  font-size: 16px;
  text-indent: 15px;
}

/* ------------------------------------- */

footer {
  line-height: 360px;
  height: 360px;
  border: 2.5px solid black;
  text-align: center;
 
  background-color: #e7eff8;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 8px;
  color: black;

  
}
